@charset "UTF-8"

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

.sriracha-regular {
    font-family: "Sriracha", serif;
    font-weight: 400;
    font-style: normal;
  }

  .passion-one-regular {
    font-family: "Passion One", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .passion-one-bold {
    font-family: "Passion One", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .passion-one-black {
    font-family: "Passion One", serif;
    font-weight: 900;
    font-style: normal;
  }
  

:root {
    --fontetitulo: "Passion One", serif;
    --fontecordel: "Sriracha", serif;

}

html, body {
    min-height: 100vh;
    background-color: darkgrey;
}

header {
    background-color: black;
    text-align: center;
    padding-top: 50px;
    height: 2;
    margin: auto;
    
}

header > h1 {
    font-family: "Passion One", serif;
    color: white;
    font-size: auto;
    font-size: 10vw;
    padding: 10px;
    margin: auto;
    font-variant: small-caps;
    padding-bottom: 0px;
    
}

#C {
    font-size: 3.5em;
}

header > p > a {
color: white;
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;

}

header > p > a:hover{
    text-decoration: underline;
}
header > p
{
    color: white;
    font-size: 1.1em;
    font-weight: lighter;
    text-align: center;
    margin: auto;
    
    

}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3.5vh;
}


section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;
}


section.imagem {
    background-color: rgb(46, 46, 46);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.61);
    
}


section.imagem > p{
    width: 400px;
    background-color: rgba(0, 0, 0, 0.295);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.336);
}

#foto1 {
background: gray url(imagens/background001.jpg)  center no-repeat fixed;
background-size: cover;  
}

#foto2 {
    background: gray url(imagens/background002.jpg) center no-repeat fixed;
    background-size: cover;
}



section > p {
    
    text-align: justify;
    font-family: var(--fontecordel);
    

}



body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


footer {
    background-color: black;
    text-align: center;
    padding: 10px;
}

footer > p {
    color: white;
    
}

p > a {
    text-decoration: none;
    color: white;
}

p > a:hover {
    text-decoration: underline;
}

p > a:visited {
    color: white;
}